@charset "UTF-8";
/* CSS Document */
/* Tiramisu Theme color: #EF5922 */
/* Ad page */
body {
    background-color:rgba(0,0,0,0.60);
	font:Courier New;
	overflow: hidden;
}
.AdWrapper {
alignment-baseline: central;
/*width: 100%;
height: 100%;*/
height: 415px;
width: auto;
padding-bottom: 0;
overflow: hidden;
}
#close_ad img {
	height: 22px;
	width: 22px;
	float: right top;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 99;
}
#book_img {
	/*width: 100%;
	max-width:260px;
	/*height: auto;*/
	width: 255px;
	height: 365px;
	position: relative;
	margin: 0 0 10px 0;
	border:thin rgba(0,0,0,0.60);
	box-shadow: 2px 6px 10px rgba(0,0,0,0.70);
	overflow:visible;
}

/* Info page */
.InfoWrapper {
	background-color: rgba(0,0,0,0.60);
	position: relative;
	/*width: 225.28px;*/
	alignment-baseline: central;
	width: 100%;
	/*height: 100%;*/
	height: 400px;
	padding-bottom: 0;
	
	min-height: 380px;

}
.InfoWrapper #close_ad img {
	height: 22px;
	width: 22px;
	float: right top;
	position: absolute;
	top: -6px;
	right: -6px;
	z-index: 99;
}
#book_title {
	max-height: 35%;
	padding: 20px 10px 10px 10px;
	overflow: visible;
}
#book_intro{
	padding: 0px 10px 10px 10px;
	max-width: 245px;
	height: 250px;
	overflow-y: auto;
	/*scrollbar-darkshadow-color: #000000;
	scrollbar-face-color: #EF5922;
	scrollbar-track-color: transparent;*/
}

.InfoWrapper h1 {
	font-size: 1.4em;
	color:white;
	line-height: 80%;
}
.InfoWrapper p {
	font-size:0.7em;
	color:white;
}
/*-- Operation Area --*/
.Wrapper {
position: relative;
bottom: 20px;
top: 2px;
padding-top: 5px;
margin-bottom: 10px;
height: auto;
width: 100%;
/*max-height: 405px;*/
height: 400px;
overflow: inherit;
}
img#go_to_cart{
	height: 14px;
	width:auto;
	float:left;
	margin-left:20px;
	vertical-align: bottom;
}

img#add_to_cart {
	height: 25px;
	width: auto;
	float: right;
	margin-right:-5px;
	margin-bottom: 2px;
	vertical-align: bottom;
}